* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

// container
.container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}
// container end

// header
.header {
    width: 100%;
    height: 80px;
    background: #131921;
    padding: 0 10px;
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 20px 0;
        &__wrapper {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 20px;
            justify-content: space-between;
        }
        &__logo {
            width: 97px;
            height: 30px;
            span {
                display: inline-block;
                width: inherit;
                height: inherit;
                background-image: url("../assets/icons.png");
                background-position: -10px -51px;
            }
        }
        &__location {
            display: flex;
            flex: 1;
            align-items: center;
            gap: 10px;
            color: #fff;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                width: 15px;
                height: 18px;
                background: url("../assets/icons.png");
                background-position: -71px -378px;
                bottom: 2px;
                left: -10px;
            }
            @media (max-width: 650px) {
                display: none;
            }
        }
        &__collection {
            display: flex;
            justify-content: space-evenly;
            flex: 1;
            display: flex;
            color: #fff;
            z-index: 1;
            gap: 40px;
            align-items: center;
            .fa-xmark {
                display: none;
                @media (max-width: 950px) {
                    display: block;
                    margin-left: auto;
                }
            }
            @media (max-width: 950px) {
                display: flex;
                position: fixed;
                align-items: center;
                justify-content: flex-start;
                top: 0;
                right: -350px;
                width: 250px;
                height: 100%;
                padding: 30px;
                background: rgb(35, 47, 63);
                box-shadow: -10px 0 10px rgba(0, 0, 0, 0.56);
                flex-direction: column;
                transition: 0.5s;
            }
        }
        .show {
            right: 0;
        }
        .search {
            width: 100%;
            height: 40px;
            background: #fff;
            border-radius: 5px;
            display: flex;
            gap: 20px;
            justify-content: space-between;
            @media (max-width: 1020px) {
                display: none;
            }
            .all {
                height: 100%;
                background: rgb(230, 230, 230);
                text-align: center;
                border-radius: 5px 0 0 5px;
                outline: none;
                border: none;
                padding: 0 10px;
            }
            input {
                width: 100%;
                outline: none;
                border: none;
                color: rgba(0, 0, 0, 0.688);
                font-size: 18px;
                align-items: center;
                &::placeholder {
                    font-weight: 500;
                    font-size: 17px;
                }
            }
            .search-btn {
                outline: none;
                border: none;
                cursor: pointer;
                width: 45px;
                background: rgb(254, 189, 105);
                text-align: center;
                border-radius: 0 5px 5px 0;
                font-size: 29px;
                color: rgba(0, 0, 0, 0.747);
                span {
                    width: 45px;
                    height: 40px;
                    display: inline-block;
                    background-image: url("../assets/icons.png");
                    background-position: 2px -280px;
                }
            }
        }
        .location {
            width: 120px;
            color: #fff;
            p {
                font-size: 14px;
            }
            b {
                font-size: 14px;
            }
        }
        .cart {
            display: flex;
            align-items: flex-end;
            gap: 5px;
            font-size: 16px;
            font-weight: 700;
            .icon {
                display: inline-block;
                width: 38px;
                height: 26px;
                background-image: url("../assets/icons.png");
                background-position: -10px -340px;
                position: relative;
                &::before {
                    content: "0";
                    position: absolute;
                    color: #f08804;
                    top: -5px;
                    left: 18px;
                    text-align: center;
                    font-size: 16px;
                    font-weight: 700;
                }
            }
        }
        &__menu {
            display: none;
            @media (max-width: 950px) {
                display: block;
                span {
                    display: block;
                    width: 30px;
                    height: 3px;
                    background: #fff;
                    margin-bottom: 3px;
                    border-radius: 6px;
                }
            }
        }
    }
}
// header end

// hero
.hero {
    width: 100%;
    background-color: #232f3e;
    padding: 0 20px;
    height: 40px;
    display: flex;
    align-items: center;
    a {
        color: inherit;
        text-decoration: none;
        display: flex;

        align-items: center;
        gap: 5px;
        font-weight: 500;
        &:first-child {
            font-weight: 600;
        }
    }
    @media (max-width: 650px) {
        display: none;
    }
    &__context {
        display: flex;
        font-size: 14px;
        color: #fff;
        gap: 20px;
        transition: 0.5s;
        padding: 4px;
        p {
            height: 40px;
            width: 100px;
            align-items: center;
            padding: 5px;
        }
    }
}
// hero end

// carousel
.carousel {
    height: 600px;
    position: relative;
    z-index: -1;
    .slick-arrow {
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 80px;
        height: 250px;
        background: url("../assets/next-prev-icon.png");
        background-size: 68px 52px;
        background-position: 0 0;
        background-repeat: no-repeat;
        border: none;
        color: transparent;
        &.slick-next {
            right: 0;
            background-size: 136px 104px;
            background-position: -64px 0;
        }
    }
}
// carousel end
